* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-en-pt.en-pt.dix -text
/apertium-en-pt.en-pt.t1x -text
/apertium-en-pt.en-pt.t2x -text
/apertium-en-pt.en-pt.t3x -text
/apertium-en-pt.en.acx -text
/apertium-en-pt.en.metadix -text
/apertium-en-pt.en.tsx -text
/apertium-en-pt.post-en.dix -text
/apertium-en-pt.post-pt.dix -text
/apertium-en-pt.pt-en.t1x -text
/apertium-en-pt.pt-en.t2x -text
/apertium-en-pt.pt-en.t3x -text
/apertium-en-pt.pt.acx -text
/apertium-en-pt.pt.dix -text
/apertium-en-pt.pt.tsx -text
/autogen.sh -text
/buscaPar.xsl -text
/configure.ac -text
/en-pt.prob -text
/modes.xml -text
/principal.xsl -text
/pt-en.prob -text svneol=unset#unset
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
